body {
  margin: 0;

  background: black;
  color: white;
}

* {
  box-sizing: border-box;

  padding: 1rem;
  border: 0.5rem white solid;
  margin: 0.5rem;
}

img {
  max-width: 100%;
}

.container {
  /* Grow up to 65rem */
  max-width: 65rem;
  /* Center if there is width left */
  margin: 0 auto;
}

.header {
  margin: 1rem;

  color: #c00;
}
